.m4n-popover {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	max-width: 200px;
	text-align: left;
	color: black;
	border: 0.5px solid #DDDDDD;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	display: none;
}

.m4n-popover .m4n-popover-header {
	font-size: 14px;
	line-height: 1.5;
	padding: 10px;
	background: rgb(240, 240, 240);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.m4n-popover .m4n-media {
	min-height: 1px;
	max-width: 200px;
}

.m4n-popover .m4n-media img,
.m4n-popover .m4n-media embed,
.m4n-popover .m4n-media object,
.m4n-popover .m4n-media video,
.m4n-popover .m4n-media iframe {
	max-width: 100%;
}

.m4n-popover .m4n-info {
	font-size: 12px;
	line-height: 1.5;
	padding: 5px 10px 10px 10px;
	background: white;
	z-index: 1;
}

.m4n-popover-triangle,
.m4n-popover-triangle {
	content: '';
	position: absolute;
	display: block;
	width: 22px;
	height: 22px;
	margin-left: -12px;
	background: white;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}

.m4n-popover-triangle.bottom {
	bottom: -11px;
	box-shadow: 1.5px 1.5px 3px 0 rgba(0, 0, 0, 0.2);
	z-index: -1;
}

.m4n-popover-triangle.top {
	top: -11px;
	background: rgb(240, 240, 240);
	box-shadow: -1.5px -1.5px 3px 0 rgba(0, 0, 0, 0.2);
	z-index: -1;
}

.m4n-popover-triangle.right {
	right: -11px;
	box-shadow: 1.5px -1.5px 3px 0 rgba(0, 0, 0, 0.2);
	z-index: -1;
}

.m4n-popover-triangle.left {
	left: 1px;
	box-shadow: -1.5px 1.5px 3px 0 rgba(0, 0, 0, 0.2);
	z-index: -1;
}

.m4n-popover-close {
	float: right;
	color: #888888;
	text-align: center;
	font-family: "Arial", serif;
	font-weight: bold;
	cursor: pointer;
	top: 0;
}

.m4n-popover-close:hover {
	color: #555555;
}

.m4n-popover-close:before {
	content: "\2715";
}