.m4n-sidebar-content{ 
  padding: 15px; 
}
.m4n-sidebar-header{  
  padding: 10px 15px 0; 
}
.m4n-sidebar-footer{  
  padding: 10px 15px 15px; 
  height: auto; 
  border: none; 
  background: none; 
}
.m4n-sidebar .m4n-title{ 
  margin-top: 30px; 
}

.m4n-sidebar-close {
    font-size: 10px;
    width: 15px;
    border: 1px solid #ccc;
}
.m4n-pagination li {
  background: none;
  padding: 2px 10px;
  border: 1px solid #982a2d;
  width: auto;
  height: auto;
  color: #982a2d;
}
.m4n-pagination li:first-child{ 
  background-position: 0 0px;
}
.m4n-pagination li:last-child{
  background: #982a2d;
  color: white;
}
.m4n-pagination li:last-child {
  margin-left: 10px;
}
.m4n-pagination li:first-child::before {
  content: 'Previous <';
}
.m4n-pagination li:last-child::before {
  content: 'Next >';
}